:root {
	--primaryColor: #ff6347;
	--secondaryColor: #ffffff;
	--tertiaryColor: #f7f9f9;
	--borderColor: #eff3f4;
	--fontColor: #444;
	--gray: #6f7e88;

	/* Def:Fonts */
	--mainFont: Arimo, sans-serif;
}
/* ------------- 
* Note: The sequence of the code:
*   1. About Element, Size etc...
* 	2. About Text Font
*	3. About Color
*	4. Effects
*
--------------*/

/* ------------- 
*
*   
* Def:Reset
*
*
--------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
body {
	font-family: var(--mainFont);
}
.btn {
	padding: 15px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 50px;
	font-weight: bold;
	background-color: var(--primaryColor);
	color: var(--secondaryColor);
}
.btn-unfollowed {
	padding: 12px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--primaryColor);
	border-radius: 50px;
	font-weight: bold;
	color: var(--primaryColor);
	width: 150px;
}
.btn-unfollowed:hover {
	background-color: var(--primaryColor);
	color: var(--secondaryColor);
}
.btn-followed {
	padding: 12px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primaryColor);
	border-radius: 50px;
	font-weight: bold;
	color: var(--secondaryColor);
	width: 150px;
}
.btn-followed:hover {
	background-color: var(--secondaryColor);
	border: 1px solid var(--primaryColor);
	color: var(--primaryColor);
}
input {
	outline: none;
	border: 1px solid var(--borderColor);
	border-radius: 3px;
	background-color: var(--tertiaryColor);
}
.border {
	border: 1px solid var(--borderColor);
}

/* ------------- 
*
*   
* Def:GeneralStyles
*
*
--------------*/
body {
	font-family: var(--mainFont);
	background-color: var(--secondaryColor);
}

.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-center-all {
	justify-content: center;
	align-items: center;
}
.flex-between {
	justify-content: space-between;
	align-items: center;
}
.flex-align-center {
	align-items: center;
}

.container {
	margin: 0 auto;
	height: 100vh;
}

/* ------------- Modals ------------- */

/**
 * Overlay
 * -- only show for tablet and up
 */
@media only screen and (min-width: 40em) {
	.modal-overlay {
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		background-color: rgba(0, 0, 0, 0.6);
		opacity: 0;
		visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1),
			visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	}
	.modal-overlay.active {
		opacity: 1;
		visibility: visible;
	}
}
/**
   * Modal
   */

/** Modal */
.modal {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	max-width: 600px;
	height: 300px;
	margin: 20px auto;
	padding: 30px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	z-index: 101;
}
.modal-close-btn {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
}
.modal .createbox {
	border: none;
}

/** Overlay */
.overlay {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 101;
}

/** JS */
.is-visible {
	opacity: 1;
	pointer-events: auto;
}

/**
   * Mobile styling
   */
@media only screen and (max-width: 39.9375em) {
	h1 {
		font-size: 1.5rem;
	}

	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-overflow-scrolling: touch;
		border-radius: 0;
		transform: scale(1.1);
		padding: 0 !important;
	}

	.close-modal {
		right: 20px !important;
	}
}

/* ----------------- Page:LoginPage ---------------------*/
.auth-form {
	width: 40%;
	text-align: center;
	color: var(--fontColor);
}
.auth-form h1 {
	font-size: 48px;
	font-weight: bold;
	color: var(--primaryColor);
}
.auth-form p {
	font-size: 32px;
}
.special-link {
	text-decoration: none;
	color: var(--primaryColor);
}
/* Login Container  */
.auth-form .form-container {
	width: 75%;
	margin: 20px auto;
	text-align: left;
}
.auth-form label {
	font-size: 13px;
}
.auth-form input {
	margin: 8px 0;
	padding: 10px;
	height: 45px;
	width: 100%;
}
/* Link from Login to Registration VISE VERSA */
.auth-form a {
	margin: 8px 0;
	padding: 10px;
	height: 45px;
	width: 100%;
}

/* ----------------- Page:RegisterPage ---------------------*/
.signup-form h1 {
	font-size: 43px;
}

/* ----------------- Page:VerifyEmail ---------------------*/
.verify-email-card {
	width: 60%;
	text-align: center;
	color: var(--fontColor);
}
.verify-email-card .border {
	padding: 100px 50px;
	background-color: #fcf7f7;
}

.verify-email-card i {
	font-size: 88px;
	color: var(--primaryColor);
}
.verify-email-card h1 {
	font-size: 48px;
	font-weight: bold;
	color: var(--primaryColor);
}
.verify-email-card p {
	font-size: 20px;
}
/* Login Container  */
.verify-email-card .form-container {
	width: 75%;
	margin: 20px auto;
	text-align: left;
}
.verify-email-card label {
	font-size: 13px;
}
.verify-email-card input {
	margin: 8px 0;
	padding: 10px;
	height: 45px;
	width: 100%;
}
/* Link to Registration Page */
.verify-email-card a {
	margin-top: 25px;
	padding: 10px;
	height: 45px;
	width: 40%;
}

/* ----------------- Page:HomePage ---------------------*/
.logo h2 {
	width: 100%;
	padding: 20px;
	font-family: "Rubik", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	color: var(--primaryColor);
}
/* ----------------- Section:Sidebar ---------------------*/
.sidebar {
	flex: 0.2;
	min-width: 250px;
	margin-top: 20px;
	padding: 0 20px;
	border-right: 1px solid var(--borderColor);
}
.sidebar-option,
.logo {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--fontColor);
}
.sidebar-option .sidebar-icons {
	padding: 20px;
}
.sidebar-option h2 {
	margin-right: 20px;
	font-weight: 800;
	font-size: 20px;
}
.sidebar-option:hover {
	border-radius: 30px;
	background: var(--tertiaryColor);
	transition: color 100ms ease-out;
}

.sidebar-option.active {
	color: var(--primaryColor);
}
.sidebar-post-btn {
	width: 100%;
	height: 50px;
	margin-top: 20px;
	font-weight: 900;
	border: none;
	border-radius: 30px;
	background-color: var(--primaryColor);
	color: var(--secondaryColor);
	cursor: pointer;
}

/* ----------------- Body ---------------------*/
body {
	display: flex;
	height: 100vh;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 10px;
}

/* ----------------- Section:Feed ---------------------*/
.feed {
	flex: 0.5;
	border-right: 1px solid var(--borderColor);
	min-width: fit-content;
	overflow-y: scroll;
	width: 100px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.feed::-webkit-scrollbar {
	display: none;
}
.feed-header {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
	border: 1px solid var(--borderColor);
	padding: 15px 20px;
}

.feed-header h2 {
	font-size: 20px;
	font-weight: 800;
}

.createbox {
	padding-bottom: 10px;
	border-bottom: 8px solid var(--borderColor);
	padding-right: 10px;
}
.createbox-input img {
	border-radius: 50%;
	height: 40px;
}
.createbox form {
	display: flex;
	flex-direction: column;
}
.createbox-input {
	display: flex;
	padding: 20px;
}
.createbox-input textarea {
	flex: 1;
	margin-left: 20px;
	font-size: 20px;
	border: none;
	outline: none;
	resize: none;
	padding: 10px;
	background-color: var(--tertiaryColor);
	overflow: hidden;
	height: 100px;
}
.image-upload > input {
	display: none;
}
.createbox-menu {
	font-size: 30px;
	align-items: center;
	justify-content: space-between;
	margin: 0 20px;
}
.createbox-menu i {
	margin-left: 60px;
	color: var(--primaryColor);
	padding: 10px;
	cursor: pointer;
}
.createbox-menu i:hover {
	border-radius: 50px;
	background: #e6e9e9;
	transition: color 100ms ease-out;
}

.createbox-menu i.active {
	color: var(--primaryColor);
}
.createbox-post-button {
	width: 80px;
	height: 40px;
	font-weight: 900;
	border: none;
	border-radius: 30px;
	background-color: var(--primaryColor);
	color: var(--tertiaryColor);
	cursor: pointer;
}

/* ----------------- Section:Posts ---------------------*/
.post {
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid var(--borderColor);
	padding: 10px 20px;
	word-break: break-all;
	width: 650px;
	color: var(--fontColor);
	cursor: pointer;
}
.post:hover {
	background: rgb(250, 249, 249);
}
.post-header-description {
	margin-bottom: 10px;
	font-size: 15px;
}
.post-avatar {
	padding: 20px;
}
.post-avatar img {
	border-radius: 50%;
	height: 40px;
}
.post-author {
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}
.post-author h3 {
	font-size: 20px;
	margin-bottom: 5px;
}
.post-username,
.post-time,
.post-date,
.text-status {
	font-weight: 500;
	font-size: 15px;
	color: var(--gray);
}

.post-menu {
	z-index: 9999 !important;
}

.post-time::before {
	content: "·";
}
.post-date::before {
	content: "·";
}
.post-body {
	flex: 1;
	padding: 10px;
}

.post-body img {
	width: 450px;
	object-fit: contain;
	border-radius: 20px;
}

.post-footer {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	width: 440px;
	color: var(--gray);
	font-size: 20px;
}

.post-footer span i:hover {
	color: var(--primaryColor);
	cursor: pointer;
}

/* Dropdown */

.dropdown {
	display: inline-block;
	position: relative;
}

.dd-button {
	display: inline-block;
	/* border: 1px solid gray; */
	border-radius: 4px;
	padding: 2px 8px;
	background-color: #ffffff;
	cursor: pointer;
	white-space: nowrap;
}

/* .dd-button:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
} */

.dd-button:hover {
	background-color: #eeeeee;
}

.dd-input {
	display: none;
}

.dd-menu {
	position: absolute;
	top: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0;
	margin: 2px 0 0 -95px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	list-style-type: none;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* The rule below is not implemented in browsers yet */
	-o-user-select: none;

	/* The rule below is implemented in most browsers by now */
	user-select: none;
}
.dd-menu a {
	color: var(--fontColor);
}
.dd-input + .dd-menu {
	display: none;
}

.dd-input:checked + .dd-menu {
	display: block;
}

.dd-menu li {
	padding: 10px 20px;
	cursor: pointer;
	white-space: nowrap;
}

.dd-menu li:hover {
	background-color: #f6f6f6;
}

.dd-menu li a {
	display: block;
	margin: -10px -20px;
	padding: 10px 20px;
}

.dd-menu li.divider {
	padding: 0;
	border-bottom: 1px solid #cccccc;
}

/* ----------------- Section:RetweetedPost ---------------------*/
.retweeted {
	padding: 0 20px;
	cursor: pointer;
}
.retweeted:hover {
	background: rgba(250, 249, 249, 0.452);
}
.retweeter {
	display: flex;
}
.retweeted-message {
	margin: 0 80px;
}
.retweeter .post-author {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-right: 20px;
	padding-top: 0;
}

.retweeted.post {
	background-color: #f7f7f7;
	border-radius: 15px;
	margin: 20px 80px;
	z-index: 2000px;
}
.retweeted .post:hover {
	background: rgba(250, 249, 249, 0.452);
}

/* ----------------- Section:Widgets ---------------------*/
.widgets {
	flex: 0.3;
}
/* Search */
.widgets-input {
	display: flex;
	align-items: center;
	background-color: var(--tertiaryColor);
	padding: 10px;
	border-radius: 20px;
	margin: 10px 20px 0;
}

.widgets-input input {
	border: none;
	background-color: var(--tertiaryColor);
	outline: none;
	padding: 0 10px;
	width: 100%;
}

.widgets .search-icon {
	color: var(--gray);
}

.widgets-wrapper {
	margin-top: 15px;
	margin-left: 20px;
	padding: 20px;
	background-color: var(--tertiaryColor);
	border-radius: 5px;
}

.widgets-wrapper h2 {
	font-size: 18px;
}

.explore-text {
	margin: 20px;
	color: var(--fontColor);
}
.filter-wrapper {
	margin-left: 20px;
	padding: 15px 20px;
	border-radius: 5px;
}
.filter-wrapper h2 {
	font-size: 18px;
	font-weight: 100;
	color: var(--fontColor);
}
.filter-icon {
	font-size: 20px;
	margin-right: 15px;
}
.filter-wrapper.active {
	background-color: var(--tertiaryColor);
}
.filter-wrapper:hover {
	background-color: var(--tertiaryColor);
}

.user-card {
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid var(--borderColor);
	padding: 10px 50px;
	word-break: break-all;
	width: 650px;
	margin: 10px 0;
}
.user-avatar {
	padding: 0 20px;
}
.user-avatar img {
	border-radius: 50%;
	height: 40px;
}

/* ----------------- Page:Posts ---------------------*/
.post-page .commentbox {
	max-width: 650px;
	width: 650px;
}
.commentbox h2 {
	font-size: 18px;
	padding: 20px;
	border: 1px solid var(--borderColor);
}
.commentbox-avatar img,
.comment-avatar img {
	border-radius: 50%;
	height: 40px;
}

.commentbox-input {
	display: flex;
	align-items: center;
	padding: 20px;
	border: 1px solid var(--borderColor);
}
.commentbox-input textarea {
	max-width: 500px;
	width: 500px;
	font-size: 20px;
	border: 1px solid var(--borderColor);
	outline: none;
	resize: none;
	padding: 10px;
	margin: 0 10px;
	background-color: var(--tertiaryColor);
	overflow: hidden;
	height: 50px;
}
.comment-button {
	width: 100px;
	height: 40px;
	font-size: 12px;
	font-weight: 900;
	border: none;
	border-radius: 30px;
	background-color: var(--primaryColor);
	color: var(--tertiaryColor);
	cursor: pointer;
}
.comment {
	padding: 20px;
}
.user-commented h3 {
	margin: 0 10px;
}
.comment-username,
.comment-time,
.comment-date {
	font-weight: 500;
	font-size: 15px;
	color: var(--gray);
}

/* ----------------- Page:Posts ---------------------*/

.profile-page .feed {
	border: none !important;
}
.profile-page .post {
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid var(--borderColor);
	padding: 10px 20px;
	word-break: break-all;
	width: 1000px;
	color: var(--fontColor);
}
.profile-page a {
	color: var(--fontColor);
	font-weight: bolder;
}
.profile {
	border: 1px solid var(--borderColor);
	padding: 30px;
}
.profile .profile-avatar,
.profile h2,
.profile .post-username {
	display: flex;
	justify-content: center;
}
.profile-avatar img {
	border-radius: 50%;
	width: 150px;
}
.followers {
	margin: 0 10px;
	text-decoration: underline;
}
.following {
	text-decoration: underline;
}
.edit-profile-btn {
	color: var(--secondaryColor) !important;
}
.header-text {
	padding: 20px 40px;
	color: var(--fontColor);
	font-size: 20px;
}

.edit-profile {
	border: 1px solid var(--borderColor);
	padding: 30px 300px;
	text-align: center;
	width: 1000px;
}
.edit-profile label {
	text-align: left;
}
.edit-profile input {
	padding: 15px 10px;
	margin: 15px 0;
}
.edit-profile-page {
	width: 1000px;
}
.edit-profile input[type="file"] {
	display: none;
}
.edit-profile .custom-file-upload {
	border: 1px solid #ccc;
	padding: 6px 30px;
	cursor: pointer;
	width: 300px;
}
.edit-profile .upload {
	margin: 10px 0;
}

.following-page .user-card,
.followers-page .user-card {
	width: 1000px;
}
/* ------------- 
*
*  
*   
*    
*   
*   
* Mobile Styles
*
*
*   
*   
*   
*   
--------------*/
@media only screen and (max-width: 768px) {
	/* For mobile phones: */

	/* -----------------  MobilePage:AuthenticationPages ---------------------*/
	.auth-form {
		width: 90%;
	}
	.auth-form h1 {
		font-size: 25px;
	}
	.auth-form p {
		font-size: 18px;
	}
	/* Login, Register Page Container  */
	.auth-form.form-container {
		width: 90%;
	}
	/* Link from Login to Registration VISE VERSA */
	.auth-form a {
		font-size: 14px;
	}
}
